@page
@model WebApplication2.Pages.ChiNhanh.ChiNhanhModel
@{
}
<br />
<h2>Danh sách Chi Nhánh</h2>
<a class= 'btn btn-primary btn-sm' href='/ChiNhanh/Create'> Thêm Chi Nhánh</a>
<table class="table">
    <thead>
        <tr>
            <th>Mã Chi Nhánh</th>
            <th>Tên Chi Nhánh </th>
            <th>Địa chỉ </th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>

@foreach (var chiNhanh in Model.listChiNhanh){
<tr>
    <th>@chiNhanh.MaCN</th>
    <th>@chiNhanh.TenCN</th>
    <th>@chiNhanh.DiaChi</th>
    <th>
        <a class= 'btn btn-danger btn-sm' href="/ChiNhanh/Delete?MaCN=@chiNhanh.MaCN"> Xóa </a>
        <a class= 'btn btn-primary btn-sm' href="/ChiNhanh/Edit?MaCN=@chiNhanh.MaCN"> Chỉnh sửa </a>
    </th>

</tr>
}
    </tbody>
</table>